body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.topo {
    background-color: #CF2B2B;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.25);
    color: #FFFFFF;
    width: 414px;
    height: 92px;
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;

    z-index: 100;
}

.topo h1 {
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    font-family: 'Righteous', cursive;
}

.topo p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.container-conteudo-principal {
    /* width: 100%; */
    margin-top: 92px;
    margin-bottom: 92px;
    padding-top: 31px;
    padding-bottom: 1px;
    padding-left: 19px;

    /* border: 2px solid red; */
}

.categoria {
    /* background-color: rgba(255, 192, 203, 0.473); */
    margin-bottom: 27px;
    overflow-x: hidden;
    overflow-x: scroll;
}

.container-conteudo-principal h1 {
    /* background-color: rgba(112, 112, 255, 0.527); */
    color: #333333;
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
}

.container-opcoes {
    width: 564px;
    /* background-color: rgba(112, 112, 255, 0.527);   */
    display: flex;
}

.opcao {
    background-color: #FFFFFF;
    width: 172px;
    margin-right: 16px;
    padding: 18px 14px 13px 14px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.opcao div {
    width: 144px;
}

img {
    width: 144px;
    height: 87px;
}

.nome {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.descricao {
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 4px;
    margin-bottom: 9px;
}

.preco {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.container-botao {
    background-color: #FFFFFF;
    width: 414px;
    height: 92px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    background-color: #CBCBCB;
    border-radius: 50px;
    width: 364px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}

/* executado com o javascript */

.bordaPrato {
    border: 5px solid #32B72F;
}

.bordaBebida {
    border: 5px solid #32B72F;
}

.bordaSobremesa {
    border: 5px solid #32B72F;
}

ion-icon {
    position: absolute;
    bottom: 16px;
    right: 13px;
}

.escondido {
    color: transparent;
}

.ativado {
    color: #32B72F;
    font-size: 22px
}

.novoBotao {
    background-color: #32B72F;
    color: white;
}
